{% extends 'base.html.twig' %}

{% block title %}
	Catégories
{% endblock %}

{% block body %}
	<a href="{{ path('program_index') }}" type="button" class="btn mt-3">
		← Toutes les séries
	</a>

	<h1>Catégories</h1>

	<div class="d-flex justify-content-around text-center mt-5">
		{% for category in categories %}
			<a class="btn p-2 mx-2 rounded" style="width: 12rem" href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}
			</a>
		{% else %}
			Aucune catégorie trouvée.
		{% endfor %}
	</div>
{% endblock %}
