{% extends "base.html.twig" %}

{% block title %}
	Nouvelle catégorie
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Ajouter la catégorie</button>
	{{ form_end(form) }}
{% endblock %}
