@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Silkscreen&display=swap');

$primary: #99F7AB;
$primary-light: #ABDF75;
$primary-lighter: #D6F9DD;
$secondary: #60695C;
$secondary-light: #C5D6D8;
$secondary-dark: rgb(0, 0, 0);
$secondary-d-light: rgb(99, 99, 99);
$typo: 'Lexend Deca', sans-serif;