@import "~bootstrap/scss/bootstrap";
@import "_variables.scss";
@import "_navbar.scss";



body {
    background-color: $secondary;
    color: white;
    font-family: $typo;
}

.btn {
    background-color: white;

    &:hover {
        background-color: $primary;
        color: black;
    }
}